[General]
Enabled=1

[Progression]
PollingIntervalMs=1000 ; how often to poll the game for progression state
LogFullSnapshots=0
LogStateChanges=0 ; whether to log progression state changes (for ex. a mission pass)

[Network]
Enabled=1 ; shouldn't ever need to disable this
Port=38282 ; port to use to connect to the AP client, currently only changable on the client's end using the CLI

[Unlockables]
; whether to block unlockables that are already handled by AP from being unlocked by vanilla requirements like missions 
; currently also handled in the AP client itself so this might disappear from here in the future
BlockVanillaRewards=1 

[Debug]
DebugLogging=0
WriteStatusFile=0
EnableHotkeys=0
ModuleReportHotkey=0x76
SnapshotHotkey=0x77
AddressDumpHotkey=0x78
