[General]
Enabled=1

[Progression]
PollingIntervalMs=1000
LogFullSnapshots=0
LogStateChanges=1

[Network]
Enabled=1
Port=38282

[Unlockables]
BlockVanillaRewards=1

[Debug]
DebugLogging=0
WriteStatusFile=0
EnableHotkeys=1
ModuleReportHotkey=0x76
SnapshotHotkey=0x77
AddressDumpHotkey=0x78
